.container {
  font-family: Circular;
  font-weight: bolder;
}

.nav {
  background-color: #2f65cf;
  color: #fff;
}

.first{
  background-color: #2f65cf;
  color: #fff;
  padding-top: 2rem;
}

.shop {
  font-size: 30px;
  background-color: #fff;
  color: darkblue;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border:  130px ;
  border-width: 70px;
  border-radius: 10px;
}

.btn {
  background-color: #FF5588;
  color: #fff;
}

.second {
  padding-top: 2rem;
}

.third {
  background-color: #f5f5f7;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.arrow_picture {
  /* d-inline-block align-center pt-9 */
  display: inline-block;
  align-items: center;
  padding-top: 9rem;
  padding-left: 1rem;
}

.four {
  background-color: #1d4aa3;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.arrow_picture2 {
  /* d-inline-block align-center pt-9 */
  display: inline-block;
  align-items: center;
  padding-top: 9rem;
}

.arrow_picture3 {
  /* d-inline-block align-center pt-9 */
  display: inline-block;
  align-items: center;
  padding-top: 10rem;
}

.back_img {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.img1{
  width: 33%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.img2{
  width: 33%;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.img3 {
  width: 33%;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.test_pink{
  color: #FF5588;
}

.testimonial_prof {
  top: 62%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 27%; 
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 95px;
  margin-right: auto;
}

.test_p {
  color: black;
  text-align: center;
}

.test_p1{
  top: 80%;
  color: black;
  font-weight: bold;
  text-align: center;
}

.test_p2{
  top: 85%;
  color: black;
  text-align: center;
}
